{% extends "base.html" %}

{% block css %}

<style>
    
    form {
        margin: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f7f7f7;
    }

    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="email"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

</style>

{% endblock css %}



{% block body %}

<h2>Delete Client</h2>
<p>Are you sure you want to delete the client record "{{ client.comp2_name }}"?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="header-btn" style="background: red;">Delete</button>
    <a href="{% url 'clientdetail' %}" class="header-btn">Cancel</a>
</form>

{% endblock body %}