{% extends "base.html" %}


{% block css %}

<style>
    
    form {
        margin: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f7f7f7;
    }

    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="email"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

</style>

{% endblock css %}

{% block body %}

<div class="client">
    <div class="client-content">
        <div class="client-data">
            <form action="" method="post">
                {% csrf_token %}
                <div class="client-matter">
                    <h1>Add Client Details</h1>
                    <div class="client-input">
                        <div class="client-div">
                            <label for="">Company Name: </label>
                            <input name="comp_name" required type="text">
                        </div>
                        <div class="client-div">
                            <label for="">GST Number: </label>
                            <input name="gst" required type="number">
                        </div>
                        <div class="client-div">
                            <label for="">Country: </label>
                            <input name="country" required type="text">
                        </div>
                        <div class="client-div">
                            <label for="">State:</label>
                            <input name="state" required type="text">
                        </div>
                        <div class="client-div">
                            <label for="">Address:</label>
                            <input name="address" required type="text">
                        </div>
                        <button type="submit">Submit</button>
                        <button type="reset">Reset</button>
                    </div>
                    <h1><a href="{% url 'service' %}">Add Service Details</a></h1>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<a href="{% url 'dashboard' %}" class="header-btn">Dashboard</a>

{% endblock body %}