body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    text-decoration: none;
    color: black;
}


.header {
    background: rgba(33, 100, 255, 0.377);
    box-shadow: rgba(43, 33, 241, 0.25) 0px 54px 55px, rgba(97, 137, 237, 0.12) 0px -12px 30px, rgba(44, 169, 247, 0.12) 0px 4px 6px, rgba(58, 179, 244, 0.17) 0px 12px 13px, rgba(54, 181, 249, 0.09) 0px -3px 5px;
}

.adjust-block {
    padding-right: 70px;
}

.main-header {
    width: 1300px;
    margin: auto;
    padding: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.left-block ul {
    display: flex;
    gap: 20px;
    font-size: 17px;
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
}

.header-btn {
    padding: 10px 15px;
    background: rgb(44, 48, 255);
    color: white;
    font-size: 17px;
    font-weight: bolder;
    text-transform: uppercase;
}


/* login page */

.login,
.signup {
    height: 90vh;
    display: grid;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.login-box,
.signup-box {
    width: 400px;
    padding: 20px 30px;
    background: rgba(33, 100, 255, 0.377);
    box-shadow: rgba(43, 33, 241, 0.25) 0px 54px 55px, rgba(97, 137, 237, 0.12) 0px -12px 30px, rgba(44, 169, 247, 0.12) 0px 4px 6px, rgba(58, 179, 244, 0.17) 0px 12px 13px, rgba(54, 181, 249, 0.09) 0px -3px 5px;
}

.signup-box {
    height: 550px;
    padding: 10px 30px;
}

.signup-box form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-box form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-title {
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.box label {
    font-size: 18px;
    font-weight: bold;
}

.box input {
    border: none;
    padding: 10px 5px;
    border-radius: 5px;
    outline: none;
    background: transparent;
    font-size: 15px;
    border: 1px solid grey;
}

.login-btn,
.signup-btn {
    width: 80px;
    margin: auto;
    padding: 8px;
    font-size: 16px;
    border: none;
    outline: none;
    background: rgb(44, 48, 255);
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.login-box form a,
.signup-box form a {
    color: rgb(44, 181, 255);
    font-weight: bolder;
}

form .not {
    text-align: center;

}

.home {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1300px;
    margin: auto;
}

.home-data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.home-cards {
    border: 1px solid grey;
    padding: 30px 20px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 250px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.provider {
    text-align: center;
}

.provider h1 {
    margin-bottom: 20px;
}

.provider-data {
    margin: 0 auto;
    max-width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

